<!doctype html>

<html>
<head>
<title> sgen_map_total </title>
<style type="text/css">
	body {
		background-image : url("img/page_team_1.png");
		background-repeat : no-repeat;
		background-position: left top;
	}

	#close_btn {
		position 	: fixed;
		margin-top	: 5%;
		margin-left	: 60%; 
	}
	#before_btn {
		position 	: fixed;
		margin-top	: 90%;
		margin-left	: 10%; 
	}
	#next_btn {
		position 	: fixed;
		margin-top	: 90%;
		margin-left	: 90%; 
	}
</style>
</head>

<body>

	<div id='close_btn'>
		<input type="image" src="img/close.png" onclick="location.href='sgen_map_total.html'"></input>
	</div>

	<div id='before_btn'>
		<input type="image" src="img/before.png" onclick="location.href='sgen_map_team_21.html'"></input>
	</div>

	<div id='next_btn'>
		<input type="image" src="img/next.png" onclick="location.href='sgen_map_team_2.html'"></input>
	</div>

</body>



</html>