<!doctype html>

<html>
<head>
<title> sgen_map_total </title>
<style type="text/css">
	body {
		background-image	: url("/static/img/sgen_map.png");
		background-repeat	: no-repeat;
		background-position	: left top;
		background-size		: 980px, 580px;
	} 

	#team_1_div {
		position 	: fixed;
		margin-top	: 75px;
		margin-left	: 674px;
	}
	#team_2_div {
		position 	: fixed;
		margin-top	: 10%;
		margin-left	: 53%;
	}

</style>
</head>

<body>

	<div id="team_1_div">
		<input type="image" src="/static/img/btn_h.png" onclick="location.href='/static/html/sgen_map_team_1.html'"></input>
	</div>

	<div id="team_2_div">
		<input type="image" src="/static/img/btn_h.png" onclick="location.href='sgen_map_team_2.html'"></input>
	</div>

</body>


</html>