<!doctype html>

<html>
<head>
<title> sgen_map_total </title>
<style type="text/css">
	body {
		background-image : url("/static/img/page_team_14.png");
		background-repeat : no-repeat;
		background-position: left top;
	}

	#close_btn {
		position 	: fixed;
		margin-top	: 10px;
		margin-left	: 900px; 
	}
	#before_btn {
		position 	: fixed;
		margin-top	: 517px;
		margin-left	: 20px; 
	}
	#next_btn {
		position 	: fixed;
		margin-top	: 521px;
		margin-left	: 890px; 
	}
</style>
</head>

<body>

	<div id='close_btn'>
		<input type="image" src="img/close.png" onclick="location.href='sgen_map_total.html'"></input>
	</div>

	<div id='before_btn'>
		<input type="image" src="img/before.png" onclick="location.href='sgen_map_team_13.html'"></input>
	</div>

	<div id='next_btn'>
		<input type="image" src="img/next.png" onclick="location.href='sgen_map_team_15.html'"></input>
	</div>

</body>



</html>