<!doctype html>

<html>
<head>
<title> sgen_map_total </title>
<style type="text/css">
	body {
		background-image : url("/static/img/page_team_16.png");
		background-repeat : no-repeat;
		background-position	: top, center;
		background-size		: 980px, 580px;
	}

	#close_btn {
		position 	: fixed;
		margin-top	: 22.4px;
		margin-left	: 1090px; 
	}
	#before_btn {
		position 	: fixed;
		margin-top	: 532px;
		margin-left	: 130px; 
	}
	#next_btn {
		position 	: fixed;
		margin-top	: 532px;
		margin-left	: 1100px; 
	}
</style>
</head>

<body>

	<div id='close_btn'>
		<input type="image" src="img/close.png" onclick="location.href='sgen_map_total.html'"></input>
	</div>

	<div id='before_btn'>
		<input type="image" src="img/before.png" onclick="location.href='sgen_map_team_15.html'"></input>
	</div>

	<div id='next_btn'>
		<input type="image" src="img/next.png" onclick="location.href='sgen_map_team_17.html'"></input>
	</div>

</body>



</html>